[Desktop Entry]
Type=Application
Version=1.0
Name=taskTimer
Comment=Kitchen and task timer
Icon=com.github.cryptod.tasktimer
Exec=tasktimer %U
TryExec=gjs
Terminal=false
Categories=Utility;Clock;
Keywords=timer;alarm;clock;task;kitchen;
StartupNotify=true
StartupWMClass=com.github.cryptod.tasktimer
